<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Androidprojecttutor"
        tools:targetApi="31">
        <activity
            android:name=".tutorstudentinfo"
            android:exported="false" />
        <activity
            android:name=".studentpasswordchange"
            android:exported="false" />
        <activity
            android:name=".tutorsignin"
            android:exported="false" />
        <activity
            android:name=".tutorsignup"
            android:exported="false" />
        <activity
            android:name=".logopage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".studentsignin"
            android:exported="false" />
        <activity
            android:name=".studentresetpage"
            android:exported="false" />
        <activity
            android:name=".Studentdashboard"
            android:exported="false" />
        <activity
            android:name=".StudentAttendance"
            android:exported="false" />
        <activity
            android:name=".Parentsignin"
            android:exported="false" />
        <activity
            android:name=".Parentreset"
            android:exported="false" />
        <activity
            android:name=".studentlayoutforparent"
            android:exported="false" />
        <activity
            android:name=".Parentdashboard"
            android:exported="false" />
        <activity
            android:name=".addParent"
            android:exported="false" />
        <activity
            android:name=".addstudent"
            android:exported="false" />
        <activity
            android:name=".adduser"
            android:exported="false" />
        <activity
            android:name=".addupload"
            android:exported="false" />
        <activity
            android:name=".tutordashboard"
            android:exported="false" />
        <activity
            android:name=".tutorreset"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>